@keyframes shake-little {
  2% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  4% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  6% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  8% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  10% {
    transform: translate(1px, 0px) rotate(0.5deg);
opacity: 0.99;	}
  12% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  14% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  16% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  18% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  20% {
    transform: translate(1px, 1px) rotate(0.5deg);
opacity: 0.38;	}
  22% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  24% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  26% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  28% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  30% {
    transform: translate(0px, 1px) rotate(0.5deg);
opacity: 0.34;	}
  32% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  34% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  36% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  38% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  40% {
    transform: translate(1px, 1px) rotate(0.5deg);
opacity: 0.24;	}
  42% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  44% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  46% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  48% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  50% {
    transform: translate(0px, 1px) rotate(0.5deg);
opacity: 0.55;	}
  52% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  54% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  56% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  58% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  60% {
    transform: translate(1px, 0px) rotate(0.5deg);
opacity: 0.72;	}
  62% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  64% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  66% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  68% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  70% {
    transform: translate(0px, 1px) rotate(0.5deg);
opacity: 0.26;	}
  72% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  74% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  76% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  78% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  80% {
    transform: translate(0px, 1px) rotate(0.5deg);
opacity: 0.7;	}
  82% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  84% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  86% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  88% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  90% {
    transform: translate(1px, 0px) rotate(0.5deg);
opacity: 0.32;	}
  92% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  94% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  96% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  98% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }

.shake-little:hover,
.shake-trigger:hover .shake-little,
.shake-little.shake-freeze,
.shake-little.shake-constant {
  animation: shake-little 1500ms ease-in-out infinite; }



@keyframes shake-rotate {
  2% {
    transform: translate(0, 0) rotate(-1.5deg); }
  4% {
    transform: translate(0, 0) rotate(-2.5deg); }
  6% {
    transform: translate(0, 0) rotate(-6.5deg); }
  8% {
    transform: translate(0, 0) rotate(-6.5deg); }
  10% {
    transform: translate(0, 0) rotate(5.5deg); }
  12% {
    transform: translate(0, 0) rotate(-2.5deg); }
  14% {
    transform: translate(0, 0) rotate(-1.5deg); }
  16% {
    transform: translate(0, 0) rotate(-2.5deg); }
  18% {
    transform: translate(0, 0) rotate(5.5deg); }
  20% {
    transform: translate(0, 0) rotate(1.5deg); }
  22% {
    transform: translate(0, 0) rotate(-6.5deg); }
  24% {
    transform: translate(0, 0) rotate(-6.5deg); }
  26% {
    transform: translate(0, 0) rotate(4.5deg); }
  28% {
    transform: translate(0, 0) rotate(0.5deg); }
  30% {
    transform: translate(0, 0) rotate(7.5deg); }
  32% {
    transform: translate(0, 0) rotate(7.5deg); }
  34% {
    transform: translate(0, 0) rotate(3.5deg); }
  36% {
    transform: translate(0, 0) rotate(6.5deg); }
  38% {
    transform: translate(0, 0) rotate(7.5deg); }
  40% {
    transform: translate(0, 0) rotate(-5.5deg); }
  42% {
    transform: translate(0, 0) rotate(-6.5deg); }
  44% {
    transform: translate(0, 0) rotate(1.5deg); }
  46% {
    transform: translate(0, 0) rotate(-4.5deg); }
  48% {
    transform: translate(0, 0) rotate(1.5deg); }
  50% {
    transform: translate(0, 0) rotate(3.5deg); }
  52% {
    transform: translate(0, 0) rotate(-0.5deg); }
  54% {
    transform: translate(0, 0) rotate(-1.5deg); }
  56% {
    transform: translate(0, 0) rotate(-5.5deg); }
  58% {
    transform: translate(0, 0) rotate(-5.5deg); }
  60% {
    transform: translate(0, 0) rotate(5.5deg); }
  62% {
    transform: translate(0, 0) rotate(-5.5deg); }
  64% {
    transform: translate(0, 0) rotate(1.5deg); }
  66% {
    transform: translate(0, 0) rotate(6.5deg); }
  68% {
    transform: translate(0, 0) rotate(-2.5deg); }
  70% {
    transform: translate(0, 0) rotate(6.5deg); }
  72% {
    transform: translate(0, 0) rotate(4.5deg); }
  74% {
    transform: translate(0, 0) rotate(-4.5deg); }
  76% {
    transform: translate(0, 0) rotate(-0.5deg); }
  78% {
    transform: translate(0, 0) rotate(0.5deg); }
  80% {
    transform: translate(0, 0) rotate(-2.5deg); }
  82% {
    transform: translate(0, 0) rotate(6.5deg); }
  84% {
    transform: translate(0, 0) rotate(-3.5deg); }
  86% {
    transform: translate(0, 0) rotate(6.5deg); }
  88% {
    transform: translate(0, 0) rotate(5.5deg); }
  90% {
    transform: translate(0, 0) rotate(-6.5deg); }
  92% {
    transform: translate(0, 0) rotate(-6.5deg); }
  94% {
    transform: translate(0, 0) rotate(-4.5deg); }
  96% {
    transform: translate(0, 0) rotate(4.5deg); }
  98% {
    transform: translate(0, 0) rotate(-2.5deg); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }

.shake-rotate:hover,
.shake-trigger:hover .shake-rotate,
.shake-rotate.shake-freeze,
.shake-rotate.shake-constant {
  animation: shake-rotate 100ms ease-in-out infinite; }


@keyframes shake-opacity {
  10% {
    transform: translate(-1px, 5px) rotate(-1.5deg);
    opacity: 0.99; }
  20% {
    transform: translate(-2px, -1px) rotate(0.5deg);
    opacity: 0.38; }
  30% {
    transform: translate(1px, -4px) rotate(0.5deg);
    opacity: 0.34; }
  40% {
    transform: translate(1px, -4px) rotate(2.5deg);
    opacity: 0.24; }
  50% {
    transform: translate(1px, -2px) rotate(0.5deg);
    opacity: 0.55; }
  60% {
    transform: translate(2px, 1px) rotate(-0.5deg);
    opacity: 0.72; }
  70% {
    transform: translate(-3px, 5px) rotate(0.5deg);
    opacity: 0.26; }
  80% {
    transform: translate(4px, 3px) rotate(2.5deg);
    opacity: 0.7; }
  90% {
    transform: translate(0px, 3px) rotate(-1.5deg);
    opacity: 0.32; }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }

.shake-opacity:hover,
.shake-trigger:hover .shake-opacity,
.shake-opacity.shake-freeze,
.shake-opacity.shake-constant {
  animation: shake-opacity 0.7s ease-in-out infinite; }




@keyframes verical-slow {
  2% {
    transform: translate(0, 1.5px) rotate(1.5deg); }
  4% {
    transform: translate(0, -1.5px) rotate(-0.5deg); }
  6% {
    transform: translate(0, 1.5px) rotate(-1.5deg); }
  8% {
    transform: translate(0, -1.5px) rotate(-1.5deg); }
  10% {
    transform: translate(0, 2.5px) rotate(1.5deg); }
  12% {
    transform: translate(0, -0.5px) rotate(1.5deg); }
  14% {
    transform: translate(0, -1.5px) rotate(1.5deg); }
  16% {
    transform: translate(0, -0.5px) rotate(-1.5deg); }
  18% {
    transform: translate(0, 0.5px) rotate(-1.5deg); }
  20% {
    transform: translate(0, -1.5px) rotate(2.5deg); }
  22% {
    transform: translate(0, 0.5px) rotate(-1.5deg); }
  24% {
    transform: translate(0, 1.5px) rotate(1.5deg); }
  26% {
    transform: translate(0, 0.5px) rotate(0.5deg); }
  28% {
    transform: translate(0, 0.5px) rotate(1.5deg); }
  30% {
    transform: translate(0, -0.5px) rotate(2.5deg); }
  32% {
    transform: translate(0, 1.5px) rotate(-0.5deg); }
  34% {
    transform: translate(0, 1.5px) rotate(-0.5deg); }
  36% {
    transform: translate(0, -1.5px) rotate(2.5deg); }
  38% {
    transform: translate(0, 1.5px) rotate(-1.5deg); }
  40% {
    transform: translate(0, -0.5px) rotate(2.5deg); }
  42% {
    transform: translate(0, 2.5px) rotate(-1.5deg); }
  44% {
    transform: translate(0, 1.5px) rotate(0.5deg); }
  46% {
    transform: translate(0, -1.5px) rotate(2.5deg); }
  48% {
    transform: translate(0, -0.5px) rotate(0.5deg); }
  50% {
    transform: translate(0, 0.5px) rotate(0.5deg); }
  52% {
    transform: translate(0, 2.5px) rotate(2.5deg); }
  54% {
    transform: translate(0, -1.5px) rotate(1.5deg); }
  56% {
    transform: translate(0, 2.5px) rotate(2.5deg); }
  58% {
    transform: translate(0, 0.5px) rotate(2.5deg); }
  60% {
    transform: translate(0, 2.5px) rotate(2.5deg); }
  62% {
    transform: translate(0, -0.5px) rotate(2.5deg); }
  64% {
    transform: translate(0, -0.5px) rotate(1.5deg); }
  66% {
    transform: translate(0, 1.5px) rotate(-0.5deg); }
  68% {
    transform: translate(0, -1.5px) rotate(-0.5deg); }
  70% {
    transform: translate(0, 1.5px) rotate(0.5deg); }
  72% {
    transform: translate(0, 2.5px) rotate(1.5deg); }
  74% {
    transform: translate(0, -0.5px) rotate(0.5deg); }
  76% {
    transform: translate(0, -0.5px) rotate(2.5deg); }
  78% {
    transform: translate(0, -0.5px) rotate(1.5deg); }
  80% {
    transform: translate(0, 1.5px) rotate(1.5deg); }
  82% {
    transform: translate(0, -0.5px) rotate(0.5deg); }
  84% {
    transform: translate(0, 1.5px) rotate(2.5deg); }
  86% {
    transform: translate(0, -1.5px) rotate(-1.5deg); }
  88% {
    transform: translate(0, -0.5px) rotate(2.5deg); }
  90% {
    transform: translate(0, 2.5px) rotate(-0.5deg); }
  92% {
    transform: translate(0, 0.5px) rotate(-0.5deg); }
  94% {
    transform: translate(0, 2.5px) rotate(0.5deg); }
  96% {
    transform: translate(0, -0.5px) rotate(1.5deg); }
  98% {
    transform: translate(0, -1.5px) rotate(-0.5deg); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }
.shake-vertical-slow:hover, .shake-trigger:hover .shake-vertical-slow, .shake-vertical-slow.shake-freeze, .shake-vertical-slow.shake-constant {
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-name: verical-slow;
  animation-timing-function: ease-in-out; }

